[access]
	inheritFrom = power/team/All-Projects
[submit]
	action = inherit
[project]
	description = Share location for notebooks
[plugin "its-jira"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
